name: EQ3/6 Tests

on:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

jobs:
  ubuntu-22-build:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v2
    - name: make -j2
      run: make -j2
    - name: git submodule init
      run: git submodule init
    - name: git submodule update
      run: git submodule update
    - name: make test
      run: make test

  ubuntu-24-build:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v2
    - name: make -j2
      run: make -j2
    - name: git submodule init
      run: git submodule init
    - name: git submodule update
      run: git submodule update
    - name: make test
      run: make test

  macos-14-build:
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v2
    - name: brew reinstall gcc coreutils
      run: brew reinstall gcc coreutils
    - name: make -j3
      run: make -j3
    - name: git submodule init
      run: git submodule init
    - name: git submodule update
      run: git submodule update
    - name: make test
      run: make test

  macos-15-intel-build:
    runs-on: macos-15-intel
    steps:
    - uses: actions/checkout@v2
    - name: brew reinstall gcc coreutils
      run: brew reinstall gcc coreutils
    - name: make -j3
      run: make -j3
    - name: git submodule init
      run: git submodule init
    - name: git submodule update
      run: git submodule update
    - name: make test
      run: make test

  macos-latest-build:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: brew reinstall gcc coreutils
      run: brew reinstall gcc coreutils
    - name: make -j3
      run: make -j3
    - name: git submodule init
      run: git submodule init
    - name: git submodule update
      run: git submodule update
    - name: make test
      run: make test
